.layout {
  width: 100%;

  display: grid;
  grid:
    "sidebar body" 1fr
    / auto 1fr;
  gap: 8px;
}

.sidebar {
  grid-area: sidebar;
  outline-style: ridge;
  outline-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.75);
}
.body {
  grid-area: body;
  outline-style: ridge;
  outline-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.75);
}

.rotating-image {
  width: 128; /* Adjust as needed */
  height: 128;
  margin: 15px 15px 15px 15px;
  animation: rotate 15s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@font-face {
  font-family: Nunito;
  src: url(assets/fonts/Nunito-Regular.ttf);
}

body {
  background-image: url(https://background-tiles.com/overview/mixed-colors/patterns/large/1054.png);
}

div {
  font-family: Nunito;
}
.steamgames-iframe {
  width: 99%;
}
.messenger {
  border-style: ridge;
  border-color: #ffffff;
  background-color: rgb(219, 219, 219);
  margin: 5px 5px 5px 5px;
}
